html{
  scroll-behavior: smooth;

}
@media (pointer: coarse) {
  .uk-background-fixed {
          background-attachment: fixed !important;
  }
@font-face{
    font-family: "Minal";
    src: url('resources/Minal.otf');
}
@font-face {
  font-family: "Baskerville";
  src: url('resources/Baskervville/Baskervville-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Baskerville";
  src: url('resources/Baskervville/Baskervville-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@media all and (min-width:960px) {
    /* put your css styles in here */
    .mobile{
      display: none;
    }
  }
  
  @media all and (min-width:801px) and (max-width: 959px) {
    /* put your css styles in here */
    .mobile{
      display: none;
    }
  }
  
  @media all and (min-width:769px) and (max-width: 800px) {
    /* put your css styles in here */
    .mobile{
      display: hidden;
    }
  }
  
  @media all and (min-width:569px) and (max-width: 768px) {
    /* put your css styles in here */
    .mobile{
      display: hidden;
    }
  }
  
  @media all and (min-width:481px) and (max-width: 568px) {
    /* put your css styles in here */
    .mobile{
      display: hidden;
    }
  }
  
  @media all and (min-width:321px) and (max-width: 480px) {
    body{
      background-color: #162114;
      background-repeat: no-repeat;
      background-attachment: fixed;
      font-family: 'Baskerville'
    }
    nav{
      background-attachment: fixed;
      background-image: url(images/JOSHUATREE1.jpeg);
      background-size: contain;
      background-repeat: no-repeat;
      background-size: 100%;
      height: 40vh;
      width: 100%;
    }
    main{
      display: block;
    }
    .navi{
      display: flex;
      justify-content: space-evenly;
      padding-top: 10%;
      list-style: none;
    }
    .navi>li>a{
      text-decoration: none;
      color: #FFEDD2;
      font-size: 1.5em;
      font-family: 'Minal';
    }
    .navi>li>a:active{
      font-size: 1.7em;
      color: #ff0000;
    }
    .introduction{
      background-color: #FFBBA6;
      border-radius: 15px;
      height: 30em;
      margin-top: -10%;
      margin-left: 5%;
      margin-right: 5%;
    }
    .introduction h1{
      font-size: 2em;
      text-align: center;
      padding-top: 5%;
      font-family: 'Minal';
    }
    .introduction h2{
      text-align: center;
      font-size: 1.5em;
      font-family: 'Minal';
      
    }
    .introduction p{
      padding: 5%;
      text-align: left;
    }
    .social-media{
      display: flex;
      flex-direction: column;
      padding-top: 2em;
      border-radius: 15px;
    }
    .social-media li{
      padding: 1.5em;
    }
    .social-media li a{
      text-decoration: none;
      color:black;
      font-size: 1.5em;
      font-weight: 100;
    }
    .about{
      background: #FFEDD2;
background: -moz-linear-gradient(-45deg, #FFEDD2 0%, #AFA390 68%, #000000 100%);
background: -webkit-linear-gradient(-45deg, #FFEDD2 0%, #AFA390 68%, #000000 100%);
background: linear-gradient(135deg, #FFEDD2 0%, #AFA390 68%, #000000 100%);
      margin-top: 30%;
      height: 25em;
      border-radius: 15px;
      padding: 10%;
    }

    .projects{
      margin-top: 10%;
      background-color: #294122;
      height: 100em;
      border-radius: 15px;
      color:#FFEDD2;
      padding:10%
    }
    .projects ul li{
      padding-left: 5%;
      padding-top: 10%;
    }
    .skills-wrapper{
      background-color: #FFEDD2;
      height: 20em;
      margin-top: 10%;
      border-radius: 15px;
      padding: 10%;
      margin-bottom: 10%;
    }
    .skills ul{
      display: flex;
      flex-wrap: wrap;
      padding-top: 5%;
    }
    .skills ul li{
      background-color: #eb3d00;
      margin: 3.5%;
      padding: 2.5%;
      justify-content: center;
      border-radius: 15px;
      box-shadow: 5px 5px 2px #eb3d0070;
      color: #ffffff;
    }
    .contact{
      background-color: #ffbba6;
      height: 30em;
      padding: 5%;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      border-radius: 15px;

    }
    .contact-form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10%;

    }
    label{
      padding: 5%;
    }
    input{
      height: 1.7em;
      font-size: 1.3rem;
      border-radius: 15px;
      background-color: #FFEDD2;
      border: none;
    }
    textarea{
      background-color: #FFEDD2;
      font-size: 1.3rem;
      border-style: inset;
      border-width: 2px;
      border-radius: 15px;
      border: none;

    }
    #submit{
      margin-top: 5%;
      width: 20%;
      background-color: #ffedd2;
      border: none;
      border-radius: 15px;
      height: 2em;
      
    }
  }

}
  
  @media all and (min-width:0px) and (max-width: 320px) {
    /* put your css styles in here */
  }
  