.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

nav {
    display: flex;
    height: 5vh;
    background-color: dimgray;
    font-size: 1.5rem;
}
nav ul {
    display: flex;
    justify-content: space-between;
}

nav>button{
    background-color: dimgray;
    border: none;
    justify-self: unset;
}

.material-symbols-outlined {
    padding: .2rem;
}

ul {
    display: flex;
    margin-right: auto;
    /* margin-left: auto; */
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    gap: 20px;
}

.navLinks {
    color: #3f3f3f;
    text-decoration: none;
}

body {
    background-color: rgb(213, 213, 213);
    width: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 5rem;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}

.nameCard {
    padding: 10rem;
}

.skills {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding-bottom: 2rem;
}
main>h2 {
    font-size: 2rem;
    padding-bottom: 2rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 0 0 5%;
    text-align: center;
}

.quote{
    background-color: dimgray;
    text-align: center;
    padding: 15rem;
    color: #3f3f3f;
    font-size: 2rem;
}
blockquote{
    padding: 1rem;
    font-style: italic;
}
citation {
    padding-left: 37rem;
}

.links {
    text-align: center;
    padding: 2rem;

}

.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}
.container{
    text-align: center;
    padding: 5rem;
}
.container>h1{
    padding-bottom: 3rem;
}
.container{
    font-size: 2rem;
}

#feedback{
    text-align: center;
}

.project{
    height: 15vh;
}